/* глобальные селекторы img, body, html и так далее */
*,
*::before,
*::after {
  box-sizing: border-box;
}

// * {
//   outline: 1px solid red;
//   outline-offset: none;
// }


body {
  background-color: $base-color--background;
  font-family: $font--basic;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $text-color--base;
}

html,
body {
  scrollbar-gutter: stable;
}

img {
  max-width: 100%;
  height: auto;
}
