.about__text {
  margin: 0;

  border: 0;
  background-color: transparent;

  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 9px;

  font-size: 13px;
  line-height: 15px;
  text-align: left;

  color: $text-color--info;

  max-width: 230px;

  @media (min-width: $desktop-width) {
    align-items: center;
    gap: 4px;
    max-width: 100%;
  }
}

.about__text::before {
  $size: 24px;

  content: "";
  display: block;
  width: $size;
  height: $size;
  background-image: url("../../icons/stack.svg#about-pic");
  background-position: left;
  background-repeat: no-repeat;
  background-size: $size $size;

  flex: 0 0 $size;
}

.about:hover,
.about:focus-visible {
  opacity: 0.5;
  transition: $transition;
}

.about:active {
  opacity: 0.8;
  transition: $transition;
}
