.conditions {
  @media (min-width: $desktop-width) {
    @include visually-hidden;
  }
}

.conditions__details {
  padding: 14px;
  background-color: $background-content--second;
  border-radius: 6px;
}

.conditions__list {
  margin-top: 8px;
  margin-left: 10px;
}

.conditions__item {
  list-style: outside;
  margin-left: 12px;
  margin-bottom: 4px;


  @media (min-width: $desktop-width) {
    line-height: 18px;
  }
}

.conditions__item::marker {
  font-size: 10px;
}


.conditions__title {
  margin: 0;
}

.conditions__text {
  margin: 0;
}

.conditions__link {
  color: $text-color--attention;
  text-decoration: none;
}

.conditions__help {
  margin: 0;
}
