.details__summary {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 7px;
}

.details__summary:hover {
  cursor: pointer;
  opacity: 0.5;
}

.details__image {
  display: block;
  width: 24px;
  height: 24px;
}

.details__image:hover,
.details__image:focus-visible {
  opacity: 0.5;
}

.details__image:active {
  opacity: 0.8;
}
