.feedback__wrapper {
  margin: 0 auto;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 11px;
  justify-content: center;

  background-color: $background-content--base;
  border-radius: $border-radius;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 24px;
    align-items: center;
    padding: 24px;
  }
}

.feedback__title {
  margin: 0;
  font-family: $font--second;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  text-align: center;

  @media (min-width: $desktop-width) {
    font-size: 26px;
    line-height: 32px;
    font-weight: 600;
  }
}
