.popup__page {
  position: fixed;
  margin: 0;
  width: 100%;

  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background-color: #ffffff;
  color: #000000;

  font-size: 16px;
  line-height: 24px;
  text-align: center;

  // self
  padding: 20px 34px 20px 20px;
  border-radius: 10px 10px 0 0;


  @media (min-width: $desktop-width) {
    top: 50%;
    left: 50%;
    padding: 24px;
    max-height: 522px;
    max-width: 630px;

    line-height: 22px;

    border-radius: $border-radius;
    box-shadow: 0 16px 24px 0 rgba(96, 97, 112, 0.16), 0 2px 8px 0 rgba(40, 41, 61, 0.04);
  }
}

.popup__button--closed {
  margin: 10% auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.popup__page::backdrop {
  background-color: rgb(0 0 0 / 0.8);

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.popup__scroll-lock {
  overflow: hidden;
}

.popup__content {
  text-align: left;
}

.popup__content .popup__title {
  font-weight: 500;
}

.popup__title {
  margin: 0;
  font-size: 26px;
  line-height: 32px;

  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    max-width: 420px;
    margin-bottom: 24px;
  }
}

.popup__text {
  margin: 0;
  margin-bottom: 8px;
}

.popup__text:last-child {
  margin-bottom: 0;
}

.popup__title-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.popup__button {
  position: absolute;
  margin: 0;
  top: 5px;
  right: 3px;
  height: 25px;
  width: 25px;
}

.popup__button::before,
.popup__button::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 1px;
  background-color: $close-color;
  border-radius: 4px;
}

.popup__button::before {
  transform: rotate(45deg);
  box-shadow: none;
}

.popup__button::after {
  transform: rotate(-45deg);
  box-shadow: none;
}


.popup__button:hover,
.popup__button:focus-visible {
  opacity: 0.5;
  transition: $transition;
}

.popup__button:active {
  opacity: 0.8;
  transition: $transition;
}
