.popup .popup__page {
  max-height: 634px;
  max-width: 100%;

  @media (min-width: $desktop-width) {
    max-height: 522px;
    max-width: 630px;
  }
}

.popup__page {
  position: fixed;
  margin: 0;
  width: 100%;

  top: 0;
  left: 50%;
  transform: translate(-50%, 38%);
  border: none;
  background-color: #ffffff;
  color: #000000;

  font-size: 16px;
  line-height: 24px;
  text-align: center;

  padding: 20px 26px 40px 20px;
  border-radius: 10px 10px 0 0;


  animation: uppopup 1s forwards;
  overflow: auto;

  @keyframes uppopup {
    from {
      top: 58%;
    }

    to {
      top: 0%;
    }
  }

  @media (min-width: $desktop-width) {
    animation: none;
    top: 50%;
    padding: 24px;

    line-height: 22px;
    transform: translate(-50%, -50%);

    border-radius: $border-radius;
    box-shadow: 0 16px 24px 0 rgba(96, 97, 112, 0.16), 0 2px 8px 0 rgba(40, 41, 61, 0.04);
  }
}

.popup__button--closed {
  margin: 10% auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.popup__page::backdrop {
  background-color: rgb(0 0 0 / 0.8);

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.popup__scroll-lock {
  overflow: hidden;
}

.popup__content {
  text-align: left;
}

.popup__content .popup__title {
  font-weight: 600;
  font-family: $font--basic;
  letter-spacing: 0.03em;

  @media (min-width: $desktop-width) {
    font-weight: 500;
    font-family: $font--second;
    letter-spacing: 0;
  }
}

.popup__title {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 26px;
  line-height: 32px;


  @media (min-width: $desktop-width) {
    max-width: 420px;
    margin-top: 0;
    margin-bottom: 24px;
  }
}

.popup__text {
  margin: 0;
  margin-bottom: 8px;
}

.popup__text:last-child {
  margin-bottom: 0;
}

.popup__title-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.popup__button {
  position: absolute;
  margin: 0;
  top: -12px;
  right: 30%;
  background-color: $line-color;
  width: 134px;
  height: 5px;
  border-radius: 100px;

  @media (min-width: $desktop-width) {
    background-color: transparent;
    top: 5px;
    right: 3px;
    height: 25px;
    width: 25px;
    border-radius: none;
  }
}

.popup__button::before,
.popup__button::after {
  content: "";
  position: absolute;

  @media (min-width: $desktop-width) {
    background-color: $close-color;
    width: 25px;
    height: 1px;
    border-radius: 4px;
  }
}

.popup__button::before {
  @media (min-width: $desktop-width) {
    transform: rotate(45deg);
    box-shadow: none;
  }
}

.popup__button::after {
  @media (min-width: $desktop-width) {
    transform: rotate(-45deg);
    box-shadow: none;
  }
}

.popup__button:hover,
.popup__button:focus-visible {
  opacity: 0.5;
  transition: $transition;
}

.popup__button:active {
  opacity: 0.8;
  transition: $transition;
}
